body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:944px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u644_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:954px;
  height:1812px;
}
#u644 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:944px;
  height:1802px;
}
#u644_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u645_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u645 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:239px;
  width:750px;
  height:1334px;
}
#u645_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u646_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:128px;
  background:inherit;
  background-color:rgba(3, 54, 152, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u646 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:239px;
  width:750px;
  height:128px;
}
#u646_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u647_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u647 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:248px;
  width:97px;
  height:43px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u647_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:25px;
}
#u648 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:257px;
  width:45px;
  height:25px;
}
#u648_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
}
#u649 {
  border-width:0px;
  position:absolute;
  left:733px;
  top:257px;
  width:35px;
  height:25px;
}
#u649_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u650_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:559px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:17px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u650 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:295px;
  width:559px;
  height:58px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u650_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:44px;
}
#u651 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:301px;
  width:39px;
  height:44px;
}
#u651_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u652_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:753px;
  height:5px;
}
#u652 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:448px;
  width:750px;
  height:2px;
}
#u652_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u653_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 粗体', '苹方 中等', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#033698;
}
#u653 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:381px;
  width:184px;
  height:63px;
  font-family:'苹方 粗体', '苹方 中等', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#033698;
}
#u653_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:180px;
  word-wrap:break-word;
}
#u654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 粗体', '苹方 中等', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u654 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:381px;
  width:184px;
  height:63px;
  font-family:'苹方 粗体', '苹方 中等', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u654_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:180px;
  word-wrap:break-word;
}
#u655_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 粗体', '苹方 中等', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u655 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:381px;
  width:184px;
  height:63px;
  font-family:'苹方 粗体', '苹方 中等', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u655_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:180px;
  word-wrap:break-word;
}
#u656_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 粗体', '苹方 中等', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u656 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:381px;
  width:184px;
  height:63px;
  font-family:'苹方 粗体', '苹方 中等', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u656_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:180px;
  word-wrap:break-word;
}
#u657 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:12px;
}
#u658 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:400px;
  width:20px;
  height:12px;
}
#u658_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:12px;
}
#u659 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:414px;
  width:20px;
  height:12px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u659_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:12px;
}
#u660 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:407px;
  width:20px;
  height:12px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u660_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u661_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:708px;
  height:5px;
}
#u661 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:648px;
  width:705px;
  height:2px;
}
#u661_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u662_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:753px;
  height:5px;
}
#u662 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:848px;
  width:750px;
  height:2px;
}
#u662_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u663_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:753px;
  height:5px;
}
#u663 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:1048px;
  width:750px;
  height:2px;
}
#u663_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u664_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:753px;
  height:5px;
}
#u664 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:1248px;
  width:750px;
  height:2px;
}
#u664_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u665_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:753px;
  height:5px;
}
#u665 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:1448px;
  width:750px;
  height:2px;
}
#u665_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
}
#u666 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:454px;
  width:180px;
  height:180px;
}
#u666_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
}
#u667 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:658px;
  width:180px;
  height:180px;
}
#u667_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
}
#u668 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:856px;
  width:180px;
  height:180px;
}
#u668_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
}
#u669 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:1260px;
  width:180px;
  height:180px;
}
#u669_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:180px;
}
#u670 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:1060px;
  width:180px;
  height:180px;
}
#u670_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:105px;
}
#u671 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:1466px;
  width:180px;
  height:105px;
}
#u671_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 粗体', '苹方 中等', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u672 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:464px;
  width:260px;
  height:38px;
  font-family:'苹方 粗体', '苹方 中等', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u672_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:256px;
  word-wrap:break-word;
}
#u673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 特粗', '苹方 中等', '苹方';
  font-weight:900;
  font-style:normal;
  font-size:22px;
  color:#FF0000;
}
#u673 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:583px;
  width:80px;
  height:30px;
  font-family:'苹方 特粗', '苹方 中等', '苹方';
  font-weight:900;
  font-style:normal;
  font-size:22px;
  color:#FF0000;
}
#u673_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 细体', '苹方 中等', '苹方';
  font-weight:300;
  font-style:normal;
  font-size:20px;
}
#u674 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:512px;
  width:78px;
  height:29px;
  font-family:'苹方 细体', '苹方 中等', '苹方';
  font-weight:300;
  font-style:normal;
  font-size:20px;
}
#u674_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u675_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 细体', '苹方 中等', '苹方';
  font-weight:300;
  font-style:normal;
  font-size:20px;
}
#u675 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:541px;
  width:301px;
  height:29px;
  font-family:'苹方 细体', '苹方 中等', '苹方';
  font-weight:300;
  font-style:normal;
  font-size:20px;
}
#u675_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  white-space:nowrap;
}
#u676_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 细体', '苹方 中等', '苹方';
  font-weight:300;
  font-style:normal;
  font-size:20px;
}
#u676 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:609px;
  width:389px;
  height:29px;
  font-family:'苹方 细体', '苹方 中等', '苹方';
  font-weight:300;
  font-style:normal;
  font-size:20px;
}
#u676_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  white-space:nowrap;
}
#u677_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 粗体', '苹方 中等', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u677 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:664px;
  width:260px;
  height:38px;
  font-family:'苹方 粗体', '苹方 中等', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u677_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:256px;
  word-wrap:break-word;
}
#u678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 特粗', '苹方 中等', '苹方';
  font-weight:900;
  font-style:normal;
  font-size:22px;
  color:#FF0000;
}
#u678 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:783px;
  width:80px;
  height:30px;
  font-family:'苹方 特粗', '苹方 中等', '苹方';
  font-weight:900;
  font-style:normal;
  font-size:22px;
  color:#FF0000;
}
#u678_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u679_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 细体', '苹方 中等', '苹方';
  font-weight:300;
  font-style:normal;
  font-size:20px;
}
#u679 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:712px;
  width:90px;
  height:29px;
  font-family:'苹方 细体', '苹方 中等', '苹方';
  font-weight:300;
  font-style:normal;
  font-size:20px;
}
#u679_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 细体', '苹方 中等', '苹方';
  font-weight:300;
  font-style:normal;
  font-size:20px;
}
#u680 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:741px;
  width:301px;
  height:29px;
  font-family:'苹方 细体', '苹方 中等', '苹方';
  font-weight:300;
  font-style:normal;
  font-size:20px;
}
#u680_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  white-space:nowrap;
}
#u681_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 细体', '苹方 中等', '苹方';
  font-weight:300;
  font-style:normal;
  font-size:20px;
}
#u681 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:809px;
  width:389px;
  height:29px;
  font-family:'苹方 细体', '苹方 中等', '苹方';
  font-weight:300;
  font-style:normal;
  font-size:20px;
}
#u681_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  white-space:nowrap;
}
#u682_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 粗体', '苹方 中等', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u682 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:859px;
  width:214px;
  height:38px;
  font-family:'苹方 粗体', '苹方 中等', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u682_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:210px;
  word-wrap:break-word;
}
#u683_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 特粗', '苹方 中等', '苹方';
  font-weight:900;
  font-style:normal;
  font-size:22px;
  color:#FF0000;
}
#u683 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:978px;
  width:100px;
  height:30px;
  font-family:'苹方 特粗', '苹方 中等', '苹方';
  font-weight:900;
  font-style:normal;
  font-size:22px;
  color:#FF0000;
}
#u683_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u684_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 细体', '苹方 中等', '苹方';
  font-weight:300;
  font-style:normal;
  font-size:20px;
}
#u684 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:907px;
  width:78px;
  height:29px;
  font-family:'苹方 细体', '苹方 中等', '苹方';
  font-weight:300;
  font-style:normal;
  font-size:20px;
}
#u684_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u685_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 细体', '苹方 中等', '苹方';
  font-weight:300;
  font-style:normal;
  font-size:20px;
}
#u685 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:936px;
  width:201px;
  height:29px;
  font-family:'苹方 细体', '苹方 中等', '苹方';
  font-weight:300;
  font-style:normal;
  font-size:20px;
}
#u685_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
#u686_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 细体', '苹方 中等', '苹方';
  font-weight:300;
  font-style:normal;
  font-size:20px;
}
#u686 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:1004px;
  width:273px;
  height:29px;
  font-family:'苹方 细体', '苹方 中等', '苹方';
  font-weight:300;
  font-style:normal;
  font-size:20px;
}
#u686_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  white-space:nowrap;
}
#u687_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 粗体', '苹方 中等', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u687 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:1060px;
  width:249px;
  height:38px;
  font-family:'苹方 粗体', '苹方 中等', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u687_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:245px;
  word-wrap:break-word;
}
#u688_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 特粗', '苹方 中等', '苹方';
  font-weight:900;
  font-style:normal;
  font-size:22px;
  color:#FF0000;
}
#u688 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:1179px;
  width:100px;
  height:30px;
  font-family:'苹方 特粗', '苹方 中等', '苹方';
  font-weight:900;
  font-style:normal;
  font-size:22px;
  color:#FF0000;
}
#u688_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u689_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 细体', '苹方 中等', '苹方';
  font-weight:300;
  font-style:normal;
  font-size:20px;
}
#u689 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:1108px;
  width:78px;
  height:29px;
  font-family:'苹方 细体', '苹方 中等', '苹方';
  font-weight:300;
  font-style:normal;
  font-size:20px;
}
#u689_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u690_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 细体', '苹方 中等', '苹方';
  font-weight:300;
  font-style:normal;
  font-size:20px;
}
#u690 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:1137px;
  width:261px;
  height:29px;
  font-family:'苹方 细体', '苹方 中等', '苹方';
  font-weight:300;
  font-style:normal;
  font-size:20px;
}
#u690_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u691_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 细体', '苹方 中等', '苹方';
  font-weight:300;
  font-style:normal;
  font-size:20px;
}
#u691 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:1205px;
  width:329px;
  height:29px;
  font-family:'苹方 细体', '苹方 中等', '苹方';
  font-weight:300;
  font-style:normal;
  font-size:20px;
}
#u691_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  white-space:nowrap;
}
#u692_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 粗体', '苹方 中等', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u692 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:1263px;
  width:264px;
  height:38px;
  font-family:'苹方 粗体', '苹方 中等', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u692_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:260px;
  word-wrap:break-word;
}
#u693_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 特粗', '苹方 中等', '苹方';
  font-weight:900;
  font-style:normal;
  font-size:22px;
  color:#FF0000;
}
#u693 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:1382px;
  width:80px;
  height:30px;
  font-family:'苹方 特粗', '苹方 中等', '苹方';
  font-weight:900;
  font-style:normal;
  font-size:22px;
  color:#FF0000;
}
#u693_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u694_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 细体', '苹方 中等', '苹方';
  font-weight:300;
  font-style:normal;
  font-size:20px;
}
#u694 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:1311px;
  width:35px;
  height:29px;
  font-family:'苹方 细体', '苹方 中等', '苹方';
  font-weight:300;
  font-style:normal;
  font-size:20px;
}
#u694_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u695_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 细体', '苹方 中等', '苹方';
  font-weight:300;
  font-style:normal;
  font-size:20px;
}
#u695 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:1340px;
  width:261px;
  height:29px;
  font-family:'苹方 细体', '苹方 中等', '苹方';
  font-weight:300;
  font-style:normal;
  font-size:20px;
}
#u695_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  white-space:nowrap;
}
#u696_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 细体', '苹方 中等', '苹方';
  font-weight:300;
  font-style:normal;
  font-size:20px;
}
#u696 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:1408px;
  width:329px;
  height:29px;
  font-family:'苹方 细体', '苹方 中等', '苹方';
  font-weight:300;
  font-style:normal;
  font-size:20px;
}
#u696_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  white-space:nowrap;
}
#u697_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 粗体', '苹方 中等', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u697 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:1472px;
  width:342px;
  height:38px;
  font-family:'苹方 粗体', '苹方 中等', '苹方';
  font-weight:700;
  font-style:normal;
  font-size:26px;
}
#u697_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:338px;
  word-wrap:break-word;
}
#u698_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 细体', '苹方 中等', '苹方';
  font-weight:300;
  font-style:normal;
  font-size:20px;
}
#u698 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:1520px;
  width:55px;
  height:29px;
  font-family:'苹方 细体', '苹方 中等', '苹方';
  font-weight:300;
  font-style:normal;
  font-size:20px;
}
#u698_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u699_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 细体', '苹方 中等', '苹方';
  font-weight:300;
  font-style:normal;
  font-size:20px;
}
#u699 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:1549px;
  width:221px;
  height:29px;
  font-family:'苹方 细体', '苹方 中等', '苹方';
  font-weight:300;
  font-style:normal;
  font-size:20px;
}
#u699_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  white-space:nowrap;
}
#u700_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 细体', '苹方 中等', '苹方';
  font-weight:300;
  font-style:normal;
  font-size:20px;
}
#u700 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:1617px;
  width:1px;
  height:29px;
  font-family:'苹方 细体', '苹方 中等', '苹方';
  font-weight:300;
  font-style:normal;
  font-size:20px;
}
#u700_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u701_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 细体', '苹方 中等', '苹方';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#F38116;
}
#u701 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:1180px;
  width:97px;
  height:29px;
  font-family:'苹方 细体', '苹方 中等', '苹方';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#F38116;
}
#u701_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u702_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 细体', '苹方 中等', '苹方';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#F38116;
}
#u702 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:1382px;
  width:97px;
  height:29px;
  font-family:'苹方 细体', '苹方 中等', '苹方';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#F38116;
}
#u702_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u703_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 细体', '苹方 中等', '苹方';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#F38116;
}
#u703 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:979px;
  width:109px;
  height:29px;
  font-family:'苹方 细体', '苹方 中等', '苹方';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#F38116;
}
#u703_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u704_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 细体', '苹方 中等', '苹方';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#F38116;
}
#u704 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:784px;
  width:109px;
  height:29px;
  font-family:'苹方 细体', '苹方 中等', '苹方';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#F38116;
}
#u704_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u705_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 细体', '苹方 中等', '苹方';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#F38116;
}
#u705 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:583px;
  width:109px;
  height:29px;
  font-family:'苹方 细体', '苹方 中等', '苹方';
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#F38116;
}
#u705_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u706 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:302px;
  width:44px;
  height:44px;
}
#u706_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u707 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:301px;
  width:44px;
  height:44px;
}
#u707_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
